*{
    margin: 0px;
    user-select: none;  
}

@keyframes zoom{
    from {transform: scale(1);}
    to {transform: scale(1.5);}
}

.lateral_menu{
    display: block;
    position: absolute;
    height: 100%;
    width: 220px;
    left: 0px;
    background-color: #d41923;
    color: #ffffff;
    font-family: Verdana, sans-serif;
    box-shadow: 8px 0px 34px -14px #000000;
    z-index: 10;
}

.lm_header{
    height: 25%;
    background-color: #ba161f;
}

.lm_title{
    text-align: center;
    position: relative;
    top: 50%;
    padding-left: 5%;
    padding-right: 5%;
    transform: translateY(-50%);
}

.lm_body{
    height: 75%;
}

.lm_link{
    display: block;
    width: 100%;
    padding-top: 4%;
    padding-bottom: 4%;
    color: #ffffff;
}

.lm_link:visited{
    color: #ffffff;
}

.lm_link:hover{
    background-color: #ba161f;
    opacity: 0.9;
}

.lm_link:active{
    background-color: #9e131a;
    opacity: 0.8;
}

.lm_link_img{
    display: inline;
    position: relative;
    left: 0px;
    width: 14%;
    padding-left: 15%;
    padding-right: 5%;
    aspect-ratio: 1 / 1;
}

.lm_link_text{
    display: block;
    position: relative;
    float: right;
    transform: translateY(40%);
    width: 60%;
}

.body_main{
    display: block;
    position: absolute;
    height: 100%;
    right: 0px;
    width: calc(100% - 220px);
    font-family: Verdana, sans-serif;
    background-color: #ffffff;
    z-index: 9;
    overflow-y: auto;
}

.items_head{
    position: relative;
    width: 100%;
    height: 20%;
    background-color: aqua;
}

.items_list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    width: calc(100% - 40px);
    height: 80%;
    background-color: #ffffff;
    margin: 20px;
}

.item_box{
    display: block;
    position: relative;
    height: 340px;
    width: 240px;
    background-color: #ffffff;
    margin: 20px;
    overflow: hidden;
}

.ib_image{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 1;
    transition: transform 1s;
}

.ib_image:hover{
    transform: scale(1.5);
}

.ib_name{
    position: absolute;
    bottom: 0px;
    padding-left: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0px 0px 5px #000000;
    z-index: 2;
}